.container {
  border: 0;
  border-bottom: var(--border-value);
  padding-top: var(--size-3);
  padding-bottom: var(--size-3);
}

.trigger {
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--size-3);
  padding-bottom: var(--size-3);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  background-color: rgb(var(--background));
  span {
    color: rgb(var(--foreground));
  }
}

.content {
  padding-top: var(--size-6);
}
