.container {
  border-width: 0;
  border-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(229 231 235);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.trigger {
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  text-transform: none;
  cursor: pointer;
  background-image: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255 255 255);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(156 163 175);
  span {
    color: rgb(17 24 39);
  }
}

.content {
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  padding-top: 1.5rem;
}
