.categories {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: var(--border-value);
  padding-bottom: var(--size-6);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-medium);
  color: rgb(var(--foreground));

  li {
    margin-bottom: var(--size-4);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: var(--size-4);

  input {
    border: var(--border-value);
    color: rgb(var(--primary));
    background-color: rgb(var(--background));
    height: var(--size-4);
    width: var(--size-4);
    border-radius: 0.25rem;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    font-size: 100%;
    margin-right: var(--size-3);
  }

  label {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    color: rgb(var(--muted-foreground));
  }
}
