.container {
  border: 0;
  border-bottom: var(--border-value);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: var(--size-6);
  padding-top: 6rem;

  h1 {
    margin: 0;
    font-size: var(--font-size-3xl);
    line-height: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.025em;
  }
}

.controls {
  display: flex;
  align-items: center;
}

.filterBtn {
  background-color: transparent;
  cursor: pointer;
  margin-left: var(--size-4);
  display: block;

  @media (min-width: 1024px) {
    display: none;
  }
}
