.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;

}


.image {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.details {
  h2 {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-2xl);
    font-weight: var(--font-weight-bold);
  }
}

.priceAndRatingsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}

.description {
  margin-bottom: var(--size-4);
}

.buyBtn {
  width: 100%;
}
