.trigger {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-medium);
  color: rgb(var(--muted-foreground));
}

.icon {
  margin-left: var(--size-1);
}

.current {
  text-align: left;
  display: block;
  padding-left: var(--size-4);
  padding-right: var(--size-4);
  padding-top: var(--size-2);
  padding-bottom: var(--size-2);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-medium);
  color: rgb(var(--foreground));
}
