.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  padding-left: var(--size-4);
  padding-right: var(--size-4);
  max-width: 80rem;

  @media (min-width: 640px) {
    padding-left: var(--size-6);
    padding-right: var(--size-6);
  }

  @media (min-width: 1024px) {
    padding-left: var(--size-8);
    padding-right: var(--size-8);
  }
}

.content {
  flex: 1;
}
