.dropdown-menu-content {
  z-index: 50;
  min-width: 8rem;
  overflow: hidden;
  border-radius: 0.375rem;
  border: var(--border-valiue);
  padding-top: var(--size-1);
  padding-bottom: var(--size-1);
  text-align: left;
  position: absolute;
  right: 0px;
  margin-top: var(--size-2);
  width: 10rem;
  transform-origin: top right;
  background-color: rgb(var(--popover));
  color: rgb(var(--popover-foreground));
  box-shadow: 0 0 #0000, 0 0 #0000, var(--shadow);
}

.dropdown-menu-item {
  display: block;
  cursor: pointer;
  text-align: left;
  padding-left: var(--size-4);
  padding-right: var(--size-4);
  padding-top: var(--size-2);
  padding-bottom: var(--size-2);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  color: rgb(var(--muted-foreground));

  &:hover,
  &:focus {
    background-color: rgb(var(--muted));
  }
}
