.container {
  position: fixed;
  z-index: 10;
  inset: 0;
  padding-top: var(--size-8);
  padding-bottom: var(--size-8);
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.content {
  position: relative;
  padding-top: var(--size-8);
  padding-bottom: var(--size-8);
  padding-left: var(--size-6);
  padding-right: var(--size-6);
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100%;

  @media (min-width: 768px) {
    max-width: 42rem;
    padding: var(--size-8);
    min-height: 0;
  }
}

.closeBtn {
  cursor: pointer;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background-color: transparent;
  color: rgb(var(--muted-foreground));
  @media (min-width: 768px) {
    top: 0.5rem;
    right: 0.5rem;
  }
}
